*.o

/libpng-dumper
/libsfpng.a
/png2pnm
/sfpng-dumper

/.deps
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1
